.heading {
  color: white;
}

h2 {
  color: white;
  text-align: center;
}

.aboutProject {
  /* border: 2px solid red; */
  padding-left: 5vw;
  padding-right: 5vw;

  text-align: left;
}

.aboutProject p {
  font-size: 1rem;
  text-align: left;
  font-weight: 200!important;
}

.aboutProjectVideo {
  /* border: #f1c30f 5px solid; */
  /* margin-right: 25vw; */
  /* width: 15vw;
  height: 80vh; */
  /* height: 80vh; */
}
.aboutVideo {
  /* border: 2px solid red; */
  width: 320px !important;
  height: 540px !important;
}

.contactDiv {
  padding-left: 15vw;
  padding-right: 15vw;
}

.workDiv {
  padding-left: 10vw;
  padding-right: 10vw;
}

.workDiv .portfolioCard img {
  height: 24vh;
  object-fit: cover;
}

video {
  object-fit: cover;
}

/* Changes for Our Other Projects */

.portfolioCategory p:hover {
  color: #f1c30f;
}

.portfolioCategory p:hover .diamond {
  color: #fff;
}

.onHover {
  width: 100%;
  overflow: hidden;
  transition: width 0.7s ease-out;
}

.portfolioCard:hover .onHover {
  width: 100%;
  transition-delay: 0.7s;
  cursor: pointer;
}

.textContainer {
  background-color: rgba(0, 0, 0, 0.803);
  height: 100%;
  width: 0;
  transition: width 0.2s ease-out;
}

.portfolioCard:hover .textContainer {
  height: 100%;
  width: 92%;
  transition-delay: 0.2s;
}

.textContainer h5 {
  padding-top: 42%;
  padding-bottom: 2vh;
  font-size: 1.4rem;
  font-weight: 600;
  transform: translateY(150%);
}
.portfolioCard:hover .textContainer h5 {
  transform: translateY(0);
  transition: 1s;
}

/* Swiper */

.swiperDiv {
  padding-left: 10vw;
  padding-right: 10vw;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.customVideo {
  width: 540px;
  height: 520px !important;
}

.workDiv .portfolioCard {
  height: 24vh;
  object-fit: cover;
}
/* Custom styles for small screens */
@media (max-width: 768px) {
  .bannerVideo {
    margin-top: -10vh;
  }
  .aboutProject {
    /* border: 2px solid red; */
    padding: 0 5vw;
    text-align: center;
  }

  .aboutProject p {
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.4;
  }

  .aboutProjectVideo {
    /* border: 2px solid green; */
    margin-right: 0vw;
    width: 90%;
    /* height: 480px; */
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .contactDiv {
    text-align: center;
  }
  .gap-40 {
    gap: 2rem;
  }
  .contactDiv p {
    font-size: 0.8rem;
  }

  .portfolioCard {
    width: 100%;
    height: 21vh;
    /* border: red 2px solid; */
  }
  .portfolioCard img {
    height: 100% !important;
    /* border: #f1c30f 2px solid; */
  }

  .workDiv {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .swiperDiv {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .customVideo {
    height: auto;
  }
  .workDiv .portfolioCard img {
    height: 10vh;
    object-fit: cover;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .portfolioCard {
    height: 23.8vh;
    object-fit: cover;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .portfolioCard {
    width: 50%;
    height: 19vh;
    object-fit: cover;
}
}

@media  (max-width: 768px) {
  .gap-40 {
    gap: 0;
  }
  .customVideo{
    width: 400px!important;
  }
  .aboutProject p {
    width: 100%;
    /* text-align: start; */
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.4;
  }
  .aboutProjectVideo {
    /* border: 2px solid green; */
    margin-right: 0vw;
    width: 48%;
    /* height: 480px; */
    text-align: center;
    margin-left: 30%;
    transform: translateX(-50%);
    
  }
  .workDiv .portfolioCard {
    width: 100%!important;
    height: 28vh!important;
    
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .aboutProject p {
    width: 100%;
    /* text-align: start; */
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.4;
  }
  .aboutProjectVideo {
    /* border: 20px solid green; */
    margin-right: 0vw;
    width: 90%;
    /* height: 480px; */
    text-align: center;
    margin-left: 23vw;
    transform: translateX(-50%);

  }
  .workDiv .portfolioCard {
    width: 50%!important;
    height: 19vh!important;
    
  }
  .aboutProjectVideo {
    margin-right: 0vw;
    width: 90%;
    text-align: center;
    margin-left: 48vw;
    transform: translateX(-50%);
  }
}

@media (max-width: 376px) {
  .aboutProjectVideo {
    margin-right: 0vw;
    width: 90%;
    text-align: center;
    margin-left: 42.5vw;
    transform: translateX(-50%);
  }
    .aboutProjectVideo {
        margin-right: 0vw;
        width: 90%;
        text-align: center;
        margin-left: 42.5vw;
        transform: translateX(-50%);
    }

}


@media (max-width: 326px) {
  .aboutProjectVideo {
    margin-right: 0vw;
    width: 90%;
    text-align: center;
    margin-left: 42.5vw;
    transform: translateX(-50%);
}
}


@media (min-width: 1540px) {
  .workDiv .portfolioCard {
    height: 14vh;
    object-fit: cover;
}.workDiv .portfolioCard img {
  height: 14vh;
  object-fit: cover;
}
  }